@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;600;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #2B2A4C;
  height: 100vh;
  color: #EA906C;
  font-family: "Geologica";
}
.App header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Geologica";
}
.App header h1 {
  font-size: 9rem;
  -webkit-text-stroke-color: #EA906C;
  -webkit-text-stroke-width: 2px;
  color: #2B2A4C;
}
.App header h1 span {
  font-size: inherit;
  color: #EA906C;
}
.App header h1 small {
  font-size: 25%;
  -webkit-text-stroke-width: 1px;
}
.App header .main-ico {
  width: 120px;
  height: 100%;
  position: relative;
}
.App header .main-ico .card-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #EA906C;
  background-color: #2B2A4C;
  width: 50px;
  height: 70px;
  border-radius: 10%;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.App header .main-ico .card-style[index="1"] {
  left: 15px;
  top: 15px;
  transform: rotate(-25deg);
  animation-name: card1-moviment;
}
.App header .main-ico .card-style[index="2"] {
  left: 35px;
  top: 5px;
  z-index: 1;
  animation-name: card2-moviment;
}
.App header .main-ico .card-style[index="3"] {
  left: 55px;
  top: 15px;
  z-index: 2;
  transform: rotate(25deg);
  animation-name: card3-moviment;
}
.App header .main-ico .card-style svg {
  width: 90%;
}
.App main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 50px;
  font-size: 6rem;
  text-align: center;
}
.App main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App main a {
  color: #EA906C;
}
.App main input {
  margin-left: 10px;
  background-color: #2B2A4C;
  border: 2px solid #EA906C;
  border-radius: 10px;
  color: #EEE2DE;
  padding: 0 5px;
}
.App main input[type=text] {
  margin: 15px 0;
  text-align: center;
}
.App main input[type=submit] {
  background-color: #EA906C;
  font-weight: 600;
  color: #2B2A4C;
  width: 150px;
  cursor: pointer;
  transition: 0.2s;
}
.App main input[type=submit]:hover {
  transform: scale(1.2);
}
.App main .not-found-ico {
  margin-top: 16px;
}
.App main .not-found-ico svg {
  width: 96px;
}
.App footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 50px;
  color: #EA906C;
  text-align: center;
  font-family: "Geologica";
}
.App footer nav ul {
  display: flex;
}
.App footer nav ul li a {
  color: #EA906C;
}
.App footer nav ul li svg {
  width: 24px;
  margin: 0px 5px;
}
.App footer div {
  font-size: 2rem;
  line-height: 1;
}
.App .game-area {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #EEE2DE;
}
.App .game-area .show-players {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: -50px;
  background-color: #2B2A4C;
  border-radius: 50%;
  border-bottom-left-radius: 0px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  color: #EEE2DE;
}
.App .game-area .show-players:hover {
  cursor: pointer;
}
.App .game-area .show-players svg {
  width: 80%;
}
.App .game-area .number-of-players {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: -50px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #B31312;
  color: #EEE2DE;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
}
.App .game-area .aside-players {
  position: fixed;
  width: 80px;
  height: 100vh;
  background-color: #2B2A4C;
  padding: 0 10px;
  overflow-y: scroll;
  z-index: 2;
}
.App .game-area .aside-players .players-score-scope {
  position: relative;
  width: 100%;
  font-size: 3rem;
  padding: 15px 0;
  border-bottom: #EEE2DE solid 2px;
}
.App .game-area .aside-players .players-score-scope .position {
  position: absolute;
  top: 10%;
  left: -8px;
  font-weight: 600;
  font-size: 1.3rem;
  color: #EEE2DE;
}
.App .game-area .aside-players .players-score-scope .isFighting {
  position: absolute;
  top: 25%;
  right: -5px;
  background-color: #EA906C;
  border-radius: 50%;
  font-size: 1.5rem;
}
.App .game-area .aside-players .players-score-scope svg {
  width: 50%;
  color: #EEE2DE;
  margin: 0 15px;
}
.App .game-area .aside-players .players-score-scope .score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .game-area .aside-players .players-score-scope h4 {
  text-align: center;
  font-size: 1rem;
}
.App .game-area main.game-arena {
  flex-grow: 1;
  margin: 0;
}
.App .game-area main.game-arena .table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.App .game-area main.game-arena .table .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: #B31312 solid 5px;
  color: #B31312;
  font-size: 8rem;
  border-radius: 50%;
}
.App .game-area main.game-arena .card-list {
  display: flex;
}
.App .game-area main.game-arena .player-name {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  color: #B31312;
  height: 20%;
  width: 100%;
}
.App .game-area main.game-arena .player-name * {
  width: 33.33%;
}
.App .game-area main.game-arena .player-name h6 {
  background-image: linear-gradient(to right, #EEE2DE, #EA906C);
}
.App .game-area .show-panel {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  right: -50px;
  background-color: #2B2A4C;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 50px;
  height: 150px;
  transition: 0.5s;
  color: #EEE2DE;
}
.App .game-area .show-panel:hover {
  cursor: pointer;
}
.App .game-area .show-panel svg {
  width: 80%;
}
.App .game-area .aside-panel {
  width: 200px;
  height: 100vh;
  background-color: #2B2A4C;
  padding: 0 10px;
  text-align: center;
  color: #EEE2DE;
}
.App .game-area .aside-panel h3 {
  font-size: 2rem;
}
.App .game-area .aside-panel h4 {
  margin-top: 10px;
  font-size: 1rem;
}

.card-game {
  perspective: 1000px;
  width: 50px;
  height: 75px;
}
.card-game .backface, .card-game .frontface {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  border: #2B2A4C solid 2px;
  border-radius: 10%;
}
.card-game .backface {
  transform: rotateY(0deg);
}
.card-game .backface div {
  display: flex;
  flex-wrap: wrap;
  border: #2B2A4C solid 1px;
  width: 89%;
  height: 90%;
  border-radius: 10%;
}
.card-game .backface div svg {
  color: #2B2A4C;
  width: 16.65%;
  height: 16.65%;
}
.card-game .frontface {
  transform: rotateY(-180deg);
}
.card-game .frontface[type=bronze] {
  background-color: rgb(233, 98, 98);
}
.card-game .frontface[type=gold] {
  background-color: goldenrod;
}
.card-game .frontface div {
  border: #2B2A4C solid 1px;
  width: 89%;
  height: 90%;
  border-radius: 10%;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-game.turn .frontface {
  transform: rotateY(0deg);
}
.card-game.turn .backface {
  transform: rotateY(180deg);
}

/* Media Query */
@media (max-width: 850px) {
  .App .game-area .show-players {
    left: 10px;
  }
  .App .game-area .show-players[show] {
    left: 100px;
  }
  .App .game-area .number-of-players {
    left: 50px;
  }
  .App .game-area .number-of-players[show] {
    left: 140px;
  }
  .App .game-area .aside-players {
    position: absolute;
    left: -100px;
    transition: 0.5s;
  }
  .App .game-area .aside-players[show] {
    left: 0px;
  }
}
@media (max-width: 700px) {
  .App .game-area {
    overflow: hidden;
  }
  .App .game-area .show-panel {
    display: flex;
    right: 0px;
  }
  .App .game-area .show-panel[show] {
    right: 210px;
  }
  .App .game-area .aside-panel {
    position: absolute;
    right: -220px;
    transition: 0.5s;
  }
  .App .game-area .aside-panel[show] {
    right: 0px;
  }
  .App .game-area main.game-arena .player-name h5.top {
    margin-bottom: 50px;
  }
  .App .game-area main.game-arena .player-name h5.bottom {
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .App header h1 {
    font-size: 6rem;
    -webkit-text-stroke-color: #EA906C;
    -webkit-text-stroke-width: 2px;
    color: #2B2A4C;
  }
  .App header h1 span {
    font-size: inherit;
    color: #EA906C;
  }
  .App header h1 small {
    font-size: 25%;
    -webkit-text-stroke-width: 1px;
  }
  .App header .main-ico {
    width: 70px;
    top: -12px;
    transform: scale(0.65);
    /* left: -12px; */
  }
  .App header .main-ico .card-style[index="1"] {
    left: -5px;
  }
  .App header .main-ico .card-style[index="2"] {
    left: 35px;
  }
  .App header .main-ico .card-style[index="3"] {
    left: 55px;
  }
}
@media (max-width: 400px) {
  .App footer {
    flex-direction: column;
  }
}
/* KeyFrames */
@keyframes card1-moviment {
  to {
    left: 25px;
    top: 22px;
    transform: rotate(0deg);
  }
}
@keyframes card2-moviment {
  to {
    top: 22px;
  }
}
@keyframes card3-moviment {
  to {
    left: 45px;
    top: 22px;
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=index.css.map */
