@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;600;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    list-style: none;
}

$firstColor: #EEE2DE;
$secondColor: #EA906C;
$thirthColor: #B31312;
$fourthColor: #2B2A4C;

.App {
  display: flex;
  flex-direction: column;
  background-color: $fourthColor;
  height: 100vh;
  color: $secondColor;
  font-family: 'Geologica';

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Geologica';

    h1 {
        font-size: 9rem;
        -webkit-text-stroke-color: $secondColor;
        -webkit-text-stroke-width: 2px;
        color: $fourthColor;

        span {
            font-size: inherit;
            color: $secondColor;
        }

        small {
            font-size: 25%;
            -webkit-text-stroke-width: 1px;
        }
    }

    .main-ico {
        width: 120px;
        height: 100%;
        position: relative;

        .card-style {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            border: 2px solid $secondColor;
            background-color: $fourthColor;
            width: 50px;
            height: 70px;
            border-radius: 10%;

            animation-duration: 1s;
            animation-delay: 2s;
            animation-timing-function: ease;
            animation-direction: alternate;
            animation-iteration-count: infinite;

            &[index="1"]{
                left: 15px;
                top: 15px;
                transform: rotate(-25deg);

                animation-name: card1-moviment;
            }

            &[index="2"]{
                left: 35px;
                top: 5px;
                z-index: 1;

                animation-name: card2-moviment;
            }

            &[index="3"]{
                left: 55px;
                top: 15px;
                z-index: 2;
                transform: rotate(25deg);

                animation-name: card3-moviment;   
            }

            svg {
                width: 90%;
            }
        }
    }
  }

  main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        margin: 0px 50px;
        font-size: 6rem;
        text-align: center;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            color: $secondColor;
        }

        input {
            margin-left: 10px;
            background-color: $fourthColor;
            border: 2px solid $secondColor;
            border-radius: 10px;
            color: $firstColor;
            padding: 0 5px;
        }

        input[type="text"]{
            margin-top: 15px;
            text-align: center;
        }

        input[type="submit"]{
            margin-top: 15px;
            background-color: $secondColor;
            font-weight: 600;
            color: $fourthColor;
            width: 150px;
            cursor: pointer;
            transition: .2s;

            &:hover{
                transform: scale(1.2);
            }
        }

        p.warning{
            margin-top: 5px;
            font-size: 1.5rem;
            color: red;
        }

        .not-found-ico{
            margin-top: 16px;

            svg {
                width: 96px;
            }
        }
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 50px;
    color: $secondColor;
    text-align: center;
    font-family: 'Geologica';

    nav {
        ul {
            display: flex;

            li {
                a {
                    color: $secondColor;
                }

                svg {
                    width: 24px;
                    margin: 0px 5px;
                }
            }
        }    
    }

    div {
            font-size: 2rem;
            line-height: 1;
        }
  }

  .game-area{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $firstColor;

    .show-players{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        left: -50px;
        background-color: $fourthColor;
        border-radius: 50%;
        border-bottom-left-radius: 0px;
        width: 50px;
        height: 50px;
        transition: .5s;
        color: $firstColor;

        &:hover{
            cursor: pointer;
        }

        svg {
            width: 80%;
        }
    }

    .number-of-players{
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 40px;
        left: -50px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $thirthColor;
        color: $firstColor;
        font-size: .9rem;
        font-weight: 600;
        text-align: center;
        transition: .5s;
    }

    .aside-players{
        position: fixed;
        width: 80px;
        height: 100vh;
        background-color: $fourthColor;
        padding: 0 10px;
        overflow-y: scroll;
        z-index: 2;

        .players-score-scope{
            position: relative;
            width: 100%;
            font-size: 3rem;
            padding: 15px 0;
            border-bottom: $firstColor solid 2px;

            .position{
                position: absolute;
                top: 10%;
                left: -8px;
                font-weight: 600;
                font-size: 1.3rem;
                color: $firstColor;
                
            }

            .isFighting{
                position: absolute;
                top: 25%;
                right: -5px;
                background-color: $secondColor;
                border-radius: 50%;
                font-size: 1.5rem;
                
            }

            svg {
                width: 50%;
                color: $firstColor;
                margin: 0 15px;
            }

            .score{
                display: flex;
                justify-content:space-between;
                align-items: center;
            }

            h4{
                text-align: center;
                font-size: 1rem;
            }
        }
    }

    main.game-arena{
        flex-grow: 1;
        margin: 0;

        .table {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            .timer{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                width: 80px;
                height: 80px;
                font-size: 8rem;

                border-radius: 50%;

                .timer-ico-container{
                    position: absolute;
                    top: 0px;
                    right: 0px;

                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    color: $firstColor;

                    svg {
                        position: absolute;
                        top: 1px;
                        left: 2px;
                        width: 80%;
                        height: 80%;
                    }
                }
            }
        }

        .card-list {
            display: flex;
        }

        .player-name{
            display: flex;
            /* justify-content: space-evenly; */
            align-items: center;
            color: $thirthColor;

            height: 20%;
            width: 100%;

            * {
                width: 33.33%;
            }

            h6 {
                background-image: linear-gradient(to right, $firstColor,$secondColor);
            }
        }
    }

    .show-panel{
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 35%;
        right: -50px;
        background-color: $fourthColor;
        border-radius: 50%;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        width: 50px;
        height: 150px;
        transition: .5s;
        color: $firstColor;

        &:hover{
            cursor: pointer;
        }

        svg {
            width: 80%;
        }
    }

    .aside-panel{
        display: flex;
        flex-direction: column;

        width: 200px;
        height: 100vh;
        background-color: $fourthColor;
        padding: 0 10px;
        text-align: center;
        color: $firstColor;

        h3{
            font-size: 2rem;
        }

        h4 {
            margin-top: 10px;
            font-size: 1rem;
        }

        .report-area{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            flex-grow: 1;
            overflow-y: scroll;
            position: relative;

            .hidder-top-messages{
                background-image: linear-gradient(to bottom, $fourthColor,transparent);
                width: 100%;
                height: 10%;

                position: absolute;
                top: 0;
                left: 0;
            }

            .report-container{
                display: block;
                text-align: left;
                font-size: 1.8rem;
                /* overflow: visible; */

                width: 100%;
                margin-top: 5px;

                .author-name{
                    font-weight: 600;
                    word-break: break-word;

                    &.you{
                        color: #00c3ff;
                    }
                }

                .chat-report{
                    color: $firstColor;
                    word-break: break-word;

                    &.you{
                        color: #00c3ff;
                    }
                }

                .log-report{
                    color: $secondColor;
                    word-break: break-word;
                }
            }
        }

        .message-container{
            display: flex;
            align-items: center;
            padding: 5px 0;

            textarea{
                flex-grow: 1;
                background-color: transparent;

                font-size: 1rem;
                color: $firstColor;

                border: $secondColor 1px solid;
                border-radius: 5px;
                padding: 2px;
            }

            button {
                width: 15%;
                height: 50%;
                
                border: solid 2px $secondColor;
                border-radius: 5px;
                background-color: $fourthColor;

                margin-left: 2px;
                padding: 2px;

                transition: .3s;

                svg {
                    color: $secondColor;
                }

                &:hover{
                    background-color: $secondColor;
                    cursor: pointer;

                    svg {
                        color: $fourthColor;
                    }
                }
            }
        }
    }
  }
}

.card-game{
    perspective: 1000px;
    width: 50px;
    height: 75px;
    margin: 5px;

    .backface,.frontface{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.5s;
        width: 100%;
        height: 100%;
        border: $fourthColor solid 2px;
        border-radius: 10%;
    }

    .backface{
        transform: rotateY(0deg);
            
        div {
            display: flex;
            flex-wrap: wrap;
            border: $fourthColor solid 1px;
            width: 89%;
            height: 90%;
            border-radius: 10%;

            svg {
                color: $fourthColor;
                width: 16.65%;
                height: 16.65%;
            } 
        }
    }

    .frontface{
        transform: rotateY(-180deg);

        &[type="bronze"]{
            background-color: rgb(233, 98, 98);
        }

        &[type="gold"]{
            background-color: goldenrod;
        }

        div {
            border: $fourthColor solid 1px;
            width: 89%;
            height: 90%;
            border-radius: 10%;

            font-size: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.turn .frontface {
        transform: rotateY(0deg);
    }

    &.turn .backface {
        transform: rotateY(180deg);
    }
      
}

/* Media Query */
@media(max-width: 850px){
    .App{
        .game-area{
            .show-players{
                left: 10px;

                &[show]{
                    left: 100px;
                }
            }

            .number-of-players{
                left: 50px;

                &[show]{
                    left: 140px;
                }
            }

            .aside-players{
                position: absolute;
                left: -100px;
                transition: .5s;

                &[show]{
                    left: 0px;
                }
            }
        }
    }
}

@media(max-width: 700px){
    .App{
        .game-area{
            overflow: hidden;

            .show-panel{
                display: flex;
                right: 0px;

                &[show]{
                    right: 210px;
                }
            }

            .aside-panel{
                position: absolute;
                right: -220px;
                transition: .5s;

                &[show]{
                    right: 0px;
                }
            }

            main.game-arena{

                .player-name{

                    h5.top{
                        margin-bottom: 50px;
                    }

                    h5.bottom{
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px){
    .App{
        header {
            h1 {
                font-size: 6rem;
                -webkit-text-stroke-color: $secondColor;
                -webkit-text-stroke-width: 2px;
                color: $fourthColor;
        
                span {
                    font-size: inherit;
                    color: $secondColor;
                }
        
                small {
                    font-size: 25%;
                    -webkit-text-stroke-width: 1px;
                }
            }

            .main-ico{
                width: 70px;
                top: -12px;
                transform: scale(0.65);
                /* left: -12px; */

                .card-style{
                    &[index="1"]{
                    left: -5px;
                }
    
                &[index="2"]{
                    left: 35px;
                }
    
                &[index="3"]{
                    left: 55px;
                }
                }
                
            }
        }
    }
}

@media(max-height: 500px){
    .game-area{
        main.game-arena{
            .timer{
                transform: scale(.8);
            }
        }
    }
}

@media(max-width: 400px){
    .App{

        footer{
            flex-direction: column;
        }
    }   
}

/* KeyFrames */
@keyframes card1-moviment {
    to {
        left: 25px;
        top: 22px;
        transform: rotate(0deg);
    }
}

@keyframes card2-moviment {
    to {
        top: 22px;
    }
}

@keyframes card3-moviment {
    to {
        left: 45px;
        top: 22px;
        transform: rotate(0deg);
    }
}