@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;600;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #2B2A4C;
  height: 100vh;
  color: #EA906C;
  font-family: "Geologica";
}
.App header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Geologica";
}
.App header h1 {
  font-size: 9rem;
  -webkit-text-stroke-color: #EA906C;
  -webkit-text-stroke-width: 2px;
  color: #2B2A4C;
}
.App header h1 span {
  font-size: inherit;
  color: #EA906C;
}
.App header h1 small {
  font-size: 25%;
  -webkit-text-stroke-width: 1px;
}
.App header .main-ico {
  width: 120px;
  height: 100%;
  position: relative;
}
.App header .main-ico .card-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #EA906C;
  background-color: #2B2A4C;
  width: 50px;
  height: 70px;
  border-radius: 10%;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.App header .main-ico .card-style[index="1"] {
  left: 15px;
  top: 15px;
  transform: rotate(-25deg);
  animation-name: card1-moviment;
}
.App header .main-ico .card-style[index="2"] {
  left: 35px;
  top: 5px;
  z-index: 1;
  animation-name: card2-moviment;
}
.App header .main-ico .card-style[index="3"] {
  left: 55px;
  top: 15px;
  z-index: 2;
  transform: rotate(25deg);
  animation-name: card3-moviment;
}
.App header .main-ico .card-style svg {
  width: 90%;
}
.App main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 50px;
  font-size: 6rem;
  text-align: center;
}
.App main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App main a {
  color: #EA906C;
}
.App main input {
  margin-left: 10px;
  background-color: #2B2A4C;
  border: 2px solid #EA906C;
  border-radius: 10px;
  color: #EEE2DE;
  padding: 0 5px;
}
.App main input[type=text] {
  margin: 15px 0;
  text-align: center;
}
.App main input[type=submit] {
  background-color: #EA906C;
  font-weight: 600;
  color: #2B2A4C;
  width: 150px;
  cursor: pointer;
  transition: 0.2s;
}
.App main input[type=submit]:hover {
  transform: scale(1.2);
}
.App main .not-found-ico {
  margin-top: 16px;
}
.App main .not-found-ico svg {
  width: 96px;
}
.App footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 50px;
  color: #EA906C;
  text-align: center;
  font-family: "Geologica";
}
.App footer nav ul {
  display: flex;
}
.App footer nav ul li a {
  color: #EA906C;
}
.App footer nav ul li svg {
  width: 24px;
  margin: 0px 5px;
}
.App footer div {
  font-size: 2rem;
  line-height: 1;
}
.App .game-area {
  width: 100vw;
  height: 100vh;
  background-color: #EEE2DE;
}

.card-game {
  /*    display: flex;
     justify-content: center;
     align-items: center;
     border: $fourthColor solid 2px;

     border-radius: 10%; */
  perspective: 1000px; /* gpt */
  width: 50px;
  height: 75px;
}
.card-game .backface {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* GPT */
  backface-visibility: hidden; /* GPT */
  transform: rotateY(-180deg); /* GPT */
  transition: transform 0.5s; /* GPT */
  width: 100%;
  height: 100%;
  border: #2B2A4C solid 2px;
  border-radius: 10%;
}
.card-game .backface div {
  display: flex;
  flex-wrap: wrap;
  border: #2B2A4C solid 1px;
  width: 89%;
  height: 90%;
  border-radius: 10%;
}
.card-game .backface div svg {
  color: #2B2A4C;
  width: 16.65%;
  height: 16.65%;
}
.card-game .frontface {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* GPT */
  backface-visibility: hidden; /* GPT */
  transform: rotateY(0deg); /* GPT */
  transition: transform 0.5s; /* GPT */
  width: 100%;
  height: 100%;
  border: #2B2A4C solid 2px;
  border-radius: 10%;
  position: absolute; /* GPT */
  backface-visibility: hidden; /* GPT */
  transform: rotateY(0deg); /* GPT */
  transition: transform 0.5s; /* GPT */
}
.card-game .frontface[type=bronze] {
  background-color: rgb(233, 98, 98);
}
.card-game .frontface[type=gold] {
  background-color: goldenrod;
}
.card-game .frontface div {
  border: #2B2A4C solid 1px;
  width: 89%;
  height: 90%;
  border-radius: 10%;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-game:hover .frontface {
  transform: rotateY(180deg); /* Rotação ao passar o mouse para mostrar a trás */
}
.card-game:hover .backface {
  transform: rotateY(0deg); /* Rotação ao passar o mouse para mostrar a frente */
}

/* Media Query */
@media (max-width: 500px) {
  .App header h1 {
    font-size: 6rem;
    -webkit-text-stroke-color: #EA906C;
    -webkit-text-stroke-width: 2px;
    color: #2B2A4C;
  }
  .App header h1 span {
    font-size: inherit;
    color: #EA906C;
  }
  .App header h1 small {
    font-size: 25%;
    -webkit-text-stroke-width: 1px;
  }
  .App header .main-ico {
    width: 70px;
    top: -12px;
    transform: scale(0.65);
    /* left: -12px; */
  }
  .App header .main-ico .card-style[index="1"] {
    left: -5px;
  }
  .App header .main-ico .card-style[index="2"] {
    left: 35px;
  }
  .App header .main-ico .card-style[index="3"] {
    left: 55px;
  }
}
@media (max-width: 400px) {
  .App footer {
    flex-direction: column;
  }
}
/* KeyFrames */
@keyframes card1-moviment {
  to {
    left: 25px;
    top: 22px;
    transform: rotate(0deg);
  }
}
@keyframes card2-moviment {
  to {
    top: 22px;
  }
}
@keyframes card3-moviment {
  to {
    left: 45px;
    top: 22px;
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=index.css.map */
